.container {
  height: fit-content;
  width: 100%;
  min-height: 30vh;
  padding: 2% 10%;
  display: flex;
  justify-content: space-between;
  h2 {
    font-size: 30px;
    color: var(--yellow);
  }
  p {
    font-size: 15px;
    max-width: 60%;
  }
  .left {
    flex: 1;
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }
  .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    img {
      width: 50%;
      -webkit-filter: invert(100%);
      filter: invert(1);
    }
  }
  .right {
    flex: 1;
    background-color: red;
  }
  .last {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    flex: 1;
    .textContainerToAlignItemsStart {
      align-items: start;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    span {
      font-size: 15px;
    }
  }
}
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 10vh;
    p {
      width: 100%;
      text-align: center;
    }
    h2 {
      text-align: center;
    }
    .left {
      align-items: center;
    }
    .last {
      align-items: center;

      .textContainerToAlignItemsStart {
        align-items: center;
      }
    }
  }
}
